name: Auto Push Daily

on:
  schedule:
    - cron: "0 0 * * *" # setiap jam 00.00 UTC
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Update timestamp
        run: |
          echo "Update: $(date)" >> log.txt

      - name: Commit & Push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Auto update $(date)" || echo "No changes"
          git push
