name: Auto Push Daily

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update timestamp
        run: |
          echo "Update: $(date)" >> log.txt

      - name: Commit changes
        run: |
          git config --global user.name "kyzaww"
          git config --global user.email "rizkytrimardiansyah08@gmail.com"
          git add .
          git commit -m "Auto update $(date)" || echo "No changes"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main   
